
@media screen and (min-width: 768px) and (max-width: 1023px){
    .card-inicio{
        height: 420px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    .card-inicio{
        height: 500px;
    }
}

.btn-r{
    color: black;
    border-style: solid;
    border-width: .6rem;
    border-radius: .5rem;
    border-color: map-get($botones, remeras );
    background-color: map-get($botones, remeras );
    @include tamaño-botones;
}

.btn-b{
    @extend .btn-r;
    border-color: map-get($botones, buzos );
    background-color: map-get($botones, buzos );
    @include tamaño-botones;
}

.btn-c{
    @extend .btn-r;
    border-color: map-get($botones, camisas );
    background-color: map-get($botones, camisas );
    @include tamaño-botones;
}

.btn-p{
    @extend .btn-r;
    border-color: map-get($botones, pantalones );
    background-color: map-get($botones, pantalones );
    @include tamaño-botones;
}