@import "reset";
@import "variables/varaibles";
@import "mixins/mixins";
@import "animaciones";
@import "nosotros";
@import "contacto";
@import "inicio";



.item:hover{
transform: scale(108%);
transition: 1.3s;
}


.item-footer{
    width: 150%;
}

.botones{
    transition: 2s;

    &:hover{
        transform: scale(115%);
}
}

.expand-title{
    transition: .8s;
        &:hover{
            transform: scale(110%);
        }
}


