.body-talles {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.talles{
    background-image: url(../../Images/tallesfondo.jpg);
    background-size: cover;
}
@media (max-width: 425px) {
    .main-talles{
        font-size: small;
    }
}

